# ==================================
# === System Files (OS & IDE)
# ==================================
.DS_Store
Thumbs.db
.classpath
.project
.settings
.vscode/
.idea/

# ==================================
# === Dependencies
# ==================================

node_modules/

npm-debug.log*
yarn-error.log

# ==================================
# === Configurations
# ==================================

.env
.env.*
!.env.example

# ==================================
# === Logs
# ==================================
*.log
logs/

# ==================================
# === Build Artefakts
# ==================================
dist/
.npm
/coverage
